<center>
	<h1>What is your sex?</h1>

	<form class="form" role="form">
	    <div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary btn-lg" ng-click="prevQues()">Previous</button>
			</span>
	    	<div class="btn-group">
	    	    <a href="javascript:void(0)" ng-click="answers.sex = '1'" ng-class="{ 'active' : answers.sex == '1' }" class="btn">Male</a>
	    	    <a href="javascript:void(0)" ng-click="answers.sex = '2'" ng-class="{ 'active' : answers.sex == '2' }" class="btn">Female</a>
	    	</div>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-lg" ng-click="nextQues()">Next</button>
			</span>
	    </div>
	</form>
</center>
