<div class="Qs">
<center>
	<h1>How much sleep do you get on average per day?</h1>

	<form class="form" role="form">
	    <div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary btn-lg" ng-click="prevQues()">Previous</button>
			</span>
	    	<input type="text" class="form-control input-lg text-center" ng-model="answers.sleep">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success btn-lg" ng-click="nextQues()">Submit!</button>
			</span>
	    </div>
	</form>
</center>
</div>
