<div class="row">
	<div class="col-sm-9">
		<h1>Self-Help Group</h1>
		<p>Feel free to chat about how little you sleep, or anything else!</p>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-primary btn-lg" ng-click="prevQues()">Back to Results</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-9">
		<form id="new-twote-form">
			<h4>New Post</h4>
			<input type="text" name="text" class="form-control" ng-model="newTwoteText" placeholder="Enter a New Post"/><br/>
			<input type="submit" value="Submit" class="btn btn-default" ng-click="newTwote(newTwoteText)">
		</form>
		<br><br>
		<div id="twote-wall" ng-repeat="twote in twotes">
			<div class="well" id="{{twote._id}}" data-creator-id="{{twote.creator._id}}">
				{{twote.text}} --{{twote.creator.name}}
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<h4>{{user.name}}</h4>
		<br><br>
		<div class="btn.group-vertical" ng-repeat="user in users">
			<div class="button-checkbox">
				<button type="button" class="btn user-btn" data-color="primary" id="{{user._id}}">{{user.name}}</button>
				<input type="checkbox" class="hidden" />
			</div>
		</div>
	</div>
</div>